<div class="row mt-5">
  <div class="col-3">
    <app-recipes-filter
      [(filterCriteria)]="filterCriteria"
    ></app-recipes-filter>
  </div>
  <div class="col-9">
    @if(filteredRecipes(); as recipes) {
    <div class="container">
      <div>{{ recipes.length }} Results</div>
      <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
        @for(recipe of recipes; track recipe.id) {
        <div class="col" (click)="viewRecipe(recipe)">
          <div class="card">
            <i class="bi bi-tag recipe-category-icon"></i>
            @defer(on hover) {
            <img
              class="card-img-top"
              [src]="recipe.imageUrl"
              alt="recipe.title"
            />
            } @placeholder {
            <div class="text-center text-success">Hover to load image</div>
            }

            <div class="card-body">
              <h5 class="card-title">{{ recipe?.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ recipe?.title }}</h6>
              <ngb-rating [(rate)]="recipe.rating" />
              <div class="card-footer">
                <h5>{{ recipe?.prepTime }}min</h5>
                <i class="bi bi-heart"></i>
              </div>
            </div>
          </div>
        </div>
        } @empty {
        <div>There is no recipes</div>
        }
      </div>
    </div>
    } @else {
    <div>There is no recipes</div>
    }
  </div>
</div>
